$primary   : #B96532;
$secondary : #D6A244;
$accent    : #D27B42;

$dark      : #11100E;
$dark-page : #0A0908;

$positive  : #72A37F;
$negative  : #D06555;
$info      : #9CAABD;
$warning   : #D6A244;

$tooltip-background: #0A0908 !default;
